@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

body {
    background-image: url("../images/fundo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


header#name h1 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: rgb(241, 237, 240);
    font-size: 50pt;
    font-weight: 200;
}


nav#menu ul {
    list-style: none;
    position: absolute;
    top: 130px;
    left: 420px;
}

nav#menu li {
    display: inline-block;
    background-color: rgb(78, 12, 37);
    padding: 10px;
    margin: 5px;
    color: rgb(247, 224, 241);
    font-family: 'Satisfy', cursive;
    font-size: 16pt;
}

nav#menu li:hover {
    background-color: rgb(240, 95, 191);
    color: rgb(54, 7, 39);
}

nav#menu h2 {
    display: none;
}

nav#menu a {
    color: white;
    text-decoration: none;
}

nav#menu a:hover {
    background-color: rgb(240, 95, 191);
    color: rgb(54, 7, 39);
}

header#name h3 {
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-weight: 100;
    color: rgb(255, 253, 254);
    font-size: 30pt;
    margin-top: 110px;
    text-shadow:
    0.05em 0 black,
    0 0.05em black;
}

div#me img {
    width: 100%;
    height: 100%;
    transform: rotate(15deg);
}

div#me {
    position: absolute;
    width: 200px;
    height: 250px;
    margin-left: 200px;
    margin-top: 10px;    
}

div#me1 img {
    width: 100%;
    height: 100%;
    transform: rotate(-15deg);
}

div#me1 {
    position: absolute;
    width: 200px;
    height: 250px;
    margin-left: 974px;
    margin-top: 10px;    
}

div#me2 img {
    width: 100%;
    height: 100%;
    transform: rotate(-15deg);
}

div#me2 {
    position: absolute;
    width: 200px;
    height: 250px;
    margin-left: 200px;
    margin-top: 310px;    
}

div#me3 img {
    width: 100%;
    height: 100%;
    transform: rotate(15deg);
}

div#me3 {
    position: absolute;
    width: 200px;
    height: 250px;
    margin-left: 974px;
    margin-top: 310px;    
}

div#text {
    display: block;
    position: absolute;
    width: 510px;
    height: 350px;
    font-size: 20pt;
    font-weight: 50px;
    font-family: 'Satisfy', cursive;
    left: 420px;
    top: 330px;
    padding: 20px;
    text-align: justify;
    color: rgb(253, 252, 252);
    text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
           
}

footer#footer {
    clear: both;
    color: white;
    
}

footer#footer h1 {
    left: 650px;
    position: absolute;
    bottom: -300px;
    font-size: 11px;
    color: white;
   font-family: Arial, Helvetica, sans-serif;
}

footer#footer a {
    color: white;
}